<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orderservice.dao.orderDao">
    <resultMap id="order" type="com.example.orderservice.entity.orderEntity">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderName" column="name"/>
        <result property="orderPrice" column="price"/>
        <result property="orderNum" column="num"/>
    </resultMap>
    <select id="listOrderAllInfo" resultMap="order">
        select * from tb_order
    </select>
    <select id="listOrderInfoByUserId" resultMap="order">
        select * from tb_order where user_id = #{userId}
    </select>
</mapper>